{% extends "base.html" %}

{% block content %}
  <h2>Планируемые посещения на {{day}}</h2>
    {% if message  %}
    <p>{{ message }}</p>
        {% else %}
    <table border='1'>
  <tr><th>Начало</th><th>Конец</th><th>Кол-во клиентов</th><th>Записаться</th></tr>
    
        {% for x in time_slots_for_day %}
       <tr>    
      <td>{{ x.start }}</td><td>{{ x.end }}</td><td>{{ x.clients_count }}</td>
             <td>
           
            <form action="{% url 'plan_add' %}" method="post">
               
       <p>
           
           {% csrf_token %}
           <input type="hidden" value={{day}} id="date" name = "date"/>
           <input type="hidden" value={{zone}} id="zone" name = "zone"/>
           <input type="hidden" value={{fitness_club}} id="fitness_club" name = "fitness_club"/>
           <input type="hidden" value={{x.time_slot_id}} id="time_slot_id" name = "time_slot_id"/> 
           
           <button type="submit">Запись</button>
        </p>
            </form>
           </td>>
       </tr>
            
        {% endfor %}
    </table>
{% endif %}
    
{% endblock %}