{% extends "base.html" %}

{% block content %}
  <h2>Планируемые посещения</h2>
    <table border='1'>
  <tr><th>Время</th><th>Кол-во планирующих </th><th>Зона</th><th>Фитнес-клуб</th><th>Действие</th></tr>
    
        {% for x in client_plan %}
       <tr>    
      <td>{{ x.start_date_time }}</td><td>{{ x.end_date_time }}</td><td>{{ x.zone }}</td><td>{{ x.fitness_club }}</td>
             <td>
           
            <form action="{% url 'client_plan_delete' %}" method="post">
               
       <p>
           
           {% csrf_token %}
           <input type="hidden" value={{x.plan_id}} id="plan_ident" name = "plan_ident"/>  
           <button type="submit">Удалить</button>
        </p>
            </form>
           </td>>
       </tr>
            
        {% endfor %}
    </table>

    
{% endblock %}