{% extends "base.html" %}
{% block content %}
    {% if comment %}
        <h2 style="color: #ba2121">{{ comment }}</h2>
    {% endif %}
    <h2>Планируемые посещения на {{ day }}</h2>
    {% if message %}
        <h3>{{ message }}</h3>
    {% else %}
        {% if time_slots_for_day %}
            {% if not is_group_zone %}
                <table border='1'>
                    <tr>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Кол-во клиентов</th>
                        <th>Записаться</th>
                    </tr>
                    {% for x in time_slots_for_day %}
                        <tr>
                            <td>{{ x.start }}</td>
                            <td>{{ x.end }}</td>
                            <td>{{ x.clients_count }}</td>
                            <td>
                                <form action="{% url 'plan_add' %}" method="post">
                                    <p>
                                        {% csrf_token %}
                                        <input type="hidden" value={{ is_group_zone }} id="is_group_zone"
                                               name="is_group_zone"/>
                                        <input type="hidden" value={{ day }} id="date" name="date"/>
                                        <input type="hidden" value={{ zone }} id="zone" name="zone"/>
                                        <input type="hidden" value={{ fitness_club }} id="fitness_club"
                                               name="fitness_club"/>
                                        <input type="hidden" value={{ x.time_slot_id }} id="time_slot_id"
                                               name="time_slot_id"/>
                                        <button type="submit">Запись</button>
                                    </p>
                                </form>
                                <form action="{% url 'plan_info' %}" method="post">>
                                    {% if user.is_staff %}
                                        {% csrf_token %}
                                        <input type="hidden" value={{ is_group_zone }} id="is_group_zone"
                                               name="is_group_zone"/>
                                        <input type="hidden" value={{ day }} id="date" name="date"/>
                                        <input type="hidden" value={{ zone }} id="zone" name="zone"/>
                                        <input type="hidden" value={{ fitness_club }} id="fitness_club"
                                               name="fitness_club"/>
                                        <input type="hidden" value={{ x.time_slot_id }} id="time_slot_id"
                                               name="time_slot_id"/>
                                        <button type="submit">Показать</button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table border='1'>
                    <tr>
                        <th>Начало</th>
                        <th>Конец</th>
                        <th>Занятие</th>
                        <th>Статус</th>
                        <th>Комментарий</th>
                        <th>Кол-во клиентов</th>
                        <th>Записаться</th>
                    </tr>
                    {% for x in time_slots_for_day %}
                        <tr>
                            <td>{{ x.start }}</td>
                            <td>{{ x.end }}</td>
                            <td>{{ x.group }}</td>
                            <td>{{ x.group_status }}</td>
                            <td>{{ x.comment }}</td>
                            {% if x.group %}
                                <td>{{ x.clients_count }}</td>
                                <td>
                                    {% if x.group_status != 'отменено' %}
                                        <form action="{% url 'plan_add' %}" method="post">
                                            <p>
                                                {% csrf_token %}
                                                <input type="hidden" value={{ is_group_zone }} id="is_group_zone"
                                                       name="is_group_zone"/>
                                                <input type="hidden" value={{ x.schedule }} id="schedule"
                                                       name="schedule"/>
                                                <button type="submit">Запись</button>
                                            </p>
                                        </form>
                                    {% endif %}
                                    <form action="{% url 'plan_info' %}" method="post">>
                                        {% if user.is_staff and x.clients_count != 0 %}
                                            {% csrf_token %}
                                            <input type="hidden" value={{ day }} id="date" name="date"/>
                                            <input type="hidden" value={{ is_group_zone }} id="is_group_zone"
                                                   name="is_group_zone"/>
                                            <input type="hidden" value={{ x.schedule }} id="schedule" name="schedule"/>
                                            <button type="submit">Показать список посетителей</button>
                                        {% endif %}
                                    </form>
                                    {% if user.is_staff %}
                                        <form action="{% url 'update_schedule' %}" method="post">>
                                            {% csrf_token %}
                                            <input type="hidden" value={{ x.schedule }} id="schedule"
                                                   name="schedule"/>
                                            <button type="submit">Изменить занятие</button>
                                        </form>
                                        {% if x.clients_count == 0 %}
                                            <form action="{% url 'delete_schedule' %}" method="post">>

                                                {% csrf_token %}
                                                <input type="hidden" value={{ x.schedule }} id="schedule"
                                                       name="schedule"/>
                                                <button type="submit">Удалить занятие</button>
                                            </form>
                                        {% else %}
                                            {% if x.group_status != 'отменено' %}
                                                <form action="{% url 'revoke_schedule' %}" method="post">>
                                                    {% csrf_token %}
                                                    <input type="hidden" value={{ x.schedule }} id="schedule"
                                                           name="schedule"/>
                                                    <button type="submit">Отменить занятие</button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td></td>
                                <td>
                                    <form action="{% url 'create_schedule' %}" method="post">>
                                        {% if user.is_staff %}
                                            {% csrf_token %}
                                            <input type="hidden" value={{ day }} id="date" name="date"/>
                                            <input type="hidden" value={{ x.time_slot_id }} id="time_slot_id"
                                                   name="time_slot_id"/>
                                            <input type="hidden" value={{ zone }} id="zone" name="zone"/>
                                            <input type="hidden" value={{ fitness_club }} id="fitness_club"
                                                   name="fitness_club"/>
                                            <button type="submit">Создать расписание</button>
                                        {% endif %}
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
            <h2>Сегодня клуб не работает!</h2>
        {% endif %}
    {% endif %}
{% endblock %}